*{
    margin: 0;
    padding: 0;
}
.premier{
    width: 100%;
    background-image: url(La\ maison.png);
    background-attachment: fixed;
    background-attachment: scroll;
    background-size: cover;
    height: 500px;
}
header{
    display: flex;
    width: 100%;
    margin-left: 15px;
    color: white;

}
.rent{
    display: flex;
}
.rent svg{
    color: white;
    margin-bottom: 15px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 25px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.try{
    margin: auto;
    background-color: rgb(118, 153, 175);
    color: white;
    padding: 8px 18px;
    border-radius: 15px;
}
.finding{
    margin-top: 190px;
    margin-left: 15px;
    color: white;
    gap: 30px;
}
.finding p{
    font-size: 15px;
    margin-top: 20px;
}
.search input{
    margin-top: 10px;
    margin-left:15px ;
    color: white;
    background-color: rgb(118, 153, 175);
    padding: 5px 35px 5px 5px;
    border-radius: 12px;
}
.see span{
    background-color: rgb(3, 51, 87);
    border-radius: 0 20px 20px 0;
    padding: 10px 15px;
   
}
.border{
    display: flex;
    position: relative;
    z-index: 2;
    margin-top: 75px;
    margin-left: 400px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 45px;
    box-shadow: 10 20 50 black;
    border: 5px solid white;
    padding: 4px 2px 5px 5px;
    width: 35%;
}
.city{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.city select{
    color: rgb(102, 113, 117);
    border: none;
}
.typology{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.typology select{
    color: rgb(102, 113, 117);
    border: none;
}
.price{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.price select{
    color: rgb(102, 113, 117);
    border: none;
}
.most{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    background-color: rgb(255, 255, 255);
}
.most h2{
    color: rgb(22, 174, 239);
    font-weight: bold;
    font-size: 30px;

}
.most p{
    font-size: 12px;
}
.villa img{
    margin-left: 150px;
    margin-top: 30px;
}
